RewriteEngine on

RewriteRule ^home$ home.php?act=home [L]
RewriteRule ^sejarah\.html$ home.php?act=sejarah [L]
RewriteRule ^visi\.html$ home.php?act=visi [L]
RewriteRule ^berita\.html$ home.php?act=berita [L]
RewriteRule ^informasi\.html$ home.php?act=informasi [L]
RewriteRule ^agenda\.html$ home.php?act=agenda [L]
RewriteRule ^bukutamu\.html$ home.php?act=bukutamu [L]
RewriteRule ^galeri\.html$ home.php?act=galeri [L]
RewriteRule ^download\.html$ home.php?act=download [L]
RewriteRule ^hubungikami\.html$ home.php?act=kontak [L]
RewriteRule ^berita-(.*)\.html$ home.php?act=detailberita&id=$1 [L]
RewriteRule ^informasi-(.*)\.html$ home.php?act=detailinformasi&id=$1 [L]
RewriteRule ^agenda-(.*)\.html$ home.php?act=detailagenda&id=$1 [L]
RewriteRule ^hasil-pencarian\.html$ home.php?act=hasilcari&id=$1 [L]
RewriteRule ^halamanberita-(.*)\.html$ home.php?act=berita&halaman=$1 [L]
RewriteRule ^halamanpengumuman-(.*)\.html$ home.php?act=informasi&halaman=$1 [L]
RewriteRule ^halamanagenda-(.*)\.html$ home.php?act=agenda&halaman=$1 [L]
RewriteRule ^halamanbukutamu-(.*)\.html$ home.php?act=bukutamu&halaman=$1 [L]
RewriteRule ^halamangaleri-(.*)\.html$ home.php?act=galeri&halaman=$1 [L]
RewriteRule ^halamandetailgaleri-(.*)\.html$ home.php?act=detailgaleri&halaman=$1 [L]
RewriteRule ^halamandownload-(.*)\.html$ home.php?act=download&halaman=$1 [L]